@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Inter', system-ui, sans-serif;
}

:root {
  --ui-bg: var(--ui-color-neutral-50);
  --ui-bg-muted: var(--ui-color-neutral-100);
  --ui-bg-elevated: #ffffff;
  --ui-text: var(--ui-color-neutral-900);
  --ui-text-muted: var(--ui-color-neutral-500);
  --ui-border: var(--ui-color-neutral-200);
}

.dark {
  --ui-bg: var(--ui-color-neutral-950);
  --ui-bg-muted: var(--ui-color-neutral-900);
  --ui-bg-elevated: var(--ui-color-neutral-900);
  --ui-text: var(--ui-color-neutral-50);
  --ui-text-muted: var(--ui-color-neutral-400);
  --ui-border: var(--ui-color-neutral-800);
}